extends ../_layout

block content_meta
	- var content_title = 'Райские вазы / Тальник x Райские вазы 26.01 — 27.01.19'
	- var content_description = ''
	- var ex_style = 'ex_1'

block content_styles
	link(rel='stylesheet', type='text/css', href='../css/global.css')
	link(rel='stylesheet', type='text/css', href='../css/ex.css')

block content_scripts
	script(type='text/javascript', src='../js/jquery-3.3.1.min.js')
	script(type='text/javascript', src='../js/global.js')
	script(type='text/javascript', src='../js/ex.js')


block title_text
	div 26.01 — 27.01.19


block content
	.exhibition_items
		each item, i in new Array(17)
			.img_item: img(src='../img/ex1/' + (i+1) + '.jpg')