extends ../_layout

block content_meta
	- var content_title = 'Райские вазы / Сон сапожника 8.09.21 — 12.09.21'
	- var content_description = ''
	//- - var ex_style = 'ex_1'

block content_styles
	link(rel='stylesheet', type='text/css', href='../css/global.css')
	link(rel='stylesheet', type='text/css', href='../css/ex.css')

block content_scripts
	script(type='text/javascript', src='../js/jquery-3.3.1.min.js')
	script(type='text/javascript', src='../js/global.js')
	script(type='text/javascript', src='../js/ex.js')


block title_text
	div Сны, сны, сны…
	div 8.09.21 — 12.09.21
	div Серия работ, представленная на Blazar в Музее Москвы, Москва


block content
	.exhibition_desc
		div Однажды у меня сломались ботинки, и я понесла их в ремонт обуви. Уже пару дней как шёл дождь, и по пути в мастерскую, весь асфальт был устлан дождевыми червями: одни одиноко извивались в луже, другие, сцепляясь в кольца и узелки, образовывали небольшие компании. Любуясь происходящим, я, наконец, дошла до мастера, отдала обувь, и пошла домой. Дома я приняла ванну, после душа, несколько выпавших волос нарисовали на теле причудливые узоры. Я легла спать, мне приснился сапожник, которому я отнесла вечером свои старые ботинки, взамен им, он подарил мне свои лучшие башмачки, каждый из которых украшал маленький причудливый бантик.

	.exhibition_items
		.img_item
			img(src='../img/ex4/1.jpg')
			.img_desc Шёлковая дверца, 2021, глазурированная керамика, 15х20х14 см.
		.img_item
			img(src='../img/ex4/2.jpg')
			.img_desc Сон сапожника, 2021, глазурированная керамика, 20х22х24 см.
		.img_item
			img(src='../img/ex4/3.jpg')
			.img_desc Пусть размоет дождь, 2021, глазурированная керамика, 20,5х12,7х15 см.
		.img_item
			img(src='../img/ex4/4.jpg')
			.img_desc Чап-чап, 2021, глазурированная керамика, 13х14х11,5 см.
		.img_item
			img(src='../img/ex4/5.jpg')
			.img_desc Я запуталась, 2021, глазурированная керамика, 23х13,5х16 см.
		.img_item
			img(src='../img/ex4/6.jpg')
			.img_desc Раненая лента, 2021, глазурированная керамика, 27,5х24,5х24 см.
		.img_item
			img(src='../img/ex4/7.jpg')
			.img_desc Сны, сны, сны…, 2021, глазурированная керамика, 18х11,5х12,5 см.
		.img_item
			img(src='../img/ex4/8.jpg')
			.img_desc Второе касание, 2020, глазурированная керамика, 8,5х37х20 см.
		.img_item
			img(src='../img/ex4/9.jpg')
			.img_desc Небезопасная полночь, 2021, глазурированная керамика, 16х16,5х13 см.
		.img_item
			img(src='../img/ex4/10.jpg')
			.img_desc Тортини, 2020, глазурированная керамика, 28х12,5х15 см.

