extends ../_layout

block content_meta
	- var content_title = 'Райские вазы'
	- var content_description = 'По легенде этот мир находился в устье двух рек. Между берегами, где струились струи и сквозили косые сквозняки, прятался крохотный остров, за россыпью теней перекатывался глиняный камень, догоняя и пряча от солнечного света керамический портал.'

block content_styles
	link(rel='stylesheet', type='text/css', href='../css/global.css')
	link(rel='stylesheet', type='text/css', href='../css/rv.css')
	link(rel='stylesheet', type='text/css', href='../css/swiper.min.css')

block content_scripts
	script(type='text/javascript', src='https://w.soundcloud.com/player/api.js')
	script(type='text/javascript', src='../js/jquery-3.3.1.min.js')
	script(type='text/javascript', src='../js/global.js')
	script(type='text/javascript', src='../js/swiper.min.js')
	script(type='text/javascript', src='../js/rv.js')


block content
		mixin player(id)
			- var params = '&color=000000&sharing=false&download=false&show_artwork=false&show_playcount=false&liking=fals‌​e'
			iframe(width='100%', height='100', scrolling='no', frameborder='no', src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/' + id + params)

		.slider_outer
			.slider_block.swiper-container: .swiper-wrapper
				each id, i in [577337829, 577330263, 577328046, 577326927, 577325961, 577324467, 577323801, 577323588, 577317846, 577316397]
					.slide_item.swiper-slide
						.slide_image(style='background-image: url(../img/rv/' + (i+1) + '.jpg)')
							.player: +player(id)