html,
body {
  background-color: #513b26;
}
.exhibition_items {
  margin: 0 auto;
  margin-top: 220px;
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}
.exhibition_items img {
  width: 100%;
  display: block;
  margin-bottom: 50px;
}
@media screen and (max-width: 800px) {
  .exhibition_items {
    margin-top: 140px;
  }
  .exhibition_items img {
    margin-bottom: 30px !important;
  }
}
