body.ex_1 {
  background-color: #513b26;
}
.content_block {
  margin: 0 auto;
  margin-top: 220px;
  max-width: 940px;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
  padding-bottom: 60px;
}
.exhibition_desc {
  width: 50%;
  margin-bottom: 50px;
}
.exhibition_items .video {
  margin: 0 auto;
  margin-bottom: 70px;
  width: 100%;
  max-width: 1080px;
}
.exhibition_items .video .video_inner {
  position: relative;
  padding-bottom: 56.25% /* 16:9 */;
  padding-top: 0px;
  height: 0;
}
.exhibition_items .video .video_inner iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
.exhibition_items .img_item {
  margin-bottom: 50px;
}
.exhibition_items .img_item .img_desc {
  margin-top: 20px;
}
.exhibition_items .img_item img {
  width: 100%;
  display: block;
}
@media screen and (max-width: 800px) {
  .exhibition_items {
    padding-left: 20px !important;
    padding-right: 20px !important;
    margin-top: 140px !important;
  }
  .exhibition_items img {
    margin-bottom: 50px !important;
  }
}
