body.ex_1
	background-color #513b26


.exhibition_items
	margin 0 auto
	margin-top 220px
	max-width 1000px
	padding-left 40px
	padding-right 40px
	box-sizing border-box
	.video
		margin 0 auto
		margin-bottom 50px
		width 100%
		max-width 1080px
		.video_inner
			position relative
			padding-bottom 56.25%  /* 16:9 */
			padding-top 0px
			height 0
			iframe
				position absolute
				top 0; left 0
				width 100%!important
				height 100%!important
	img
		width 100%
		display block
		margin-bottom 50px


@media screen and (max-width: 800px)
	.exhibition_items
		padding-left 20px!important
		padding-right 20px!important
		margin-top 140px!important
		img
			margin-bottom 30px!important