html
body
	margin 0
	padding 0

.title_block
	position absolute
	width 100%
	top 0
	height 0
	z-index 1
	.title_inner
		margin 0 auto
		margin-top 40px
		position relative
		max-width 940px
		width 100%
		padding-left 40px
		padding-right 40px
		box-sizing border-box
		overflow hidden
		// background-color red
		.main
			float left
			margin-top 20px
			font 12pt/16pt 'Time New Roman'!important
			.logo
				color black
				text-decoration none
				font 12pt/16pt 'Time New Roman'!important
				&:hover
					text-decoration underline
		.links
			margin-top 20px
			float right
			font 12pt/16pt 'Time New Roman'
			a
				display block
				text-align center
				color black
				text-decoration none
				&.exhibition
					color #513b26
				&:hover
					text-decoration underline


@media screen and (max-width: 800px)
	.main
		margin-top 0!important
	.links
		margin-top 0px!important
		a
			text-align right!important
	.title_inner
		margin-top 20px!important
		padding-left 20px!important
		padding-right 20px!important