html,
body {
  margin: 0;
  padding: 0;
}
.title_block {
  position: absolute;
  width: 100%;
  top: 0;
  height: 0;
  z-index: 1;
}
.title_block .title_inner {
  margin: 0 auto;
  margin-top: 40px;
  position: relative;
  max-width: 940px;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  box-sizing: border-box;
}
.title_block .title_inner .main {
  float: left;
  margin-top: 20px;
  font: 12pt/14pt 'Time New Roman' !important;
}
.title_block .title_inner .main .logo {
  color: #000;
  text-decoration: none;
  font: 12pt/14pt 'Time New Roman' !important;
}
.title_block .title_inner .main .logo:hover {
  text-decoration: underline;
}
.title_block .title_inner .social {
  margin-top: 20px;
  float: right;
  font: 12pt/14pt 'Time New Roman';
}
.title_block .title_inner .social a {
  display: block;
  text-align: center;
  color: #000;
  text-decoration: none;
}
.title_block .title_inner .social a.exhibition {
  color: #513b26;
}
.title_block .title_inner .social a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 800px) {
  .main {
    margin-top: 0 !important;
  }
  .social {
    margin-top: 0px !important;
  }
  .social a {
    text-align: right !important;
  }
  .title_inner {
    margin-top: 20px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
