extends ../_layout

block content_meta
	- var content_title = 'Райские вазы / Взорванный рай 16.11.19 — ∞'
	- var content_description = ''

block content_styles
	link(rel='stylesheet', type='text/css', href='../css/global.css')
	link(rel='stylesheet', type='text/css', href='../css/ex.css')

block content_scripts
	script(type='text/javascript', src='../libs/js/jquery-3.3.1.min.js')
	script(type='text/javascript', src='../js/global.js')
	script(type='text/javascript', src='../js/ex.js')


block title_text
	div Взорванный рай
	div 16.11.19 — ∞
	div в Pupon rooms


block content
	.exhibition_items
		each item, i in new Array(19)
			.img_item: img(src='../img/ex2/' + (i+1) + '.jpg')
		.video: .video_inner
			iframe(width='100%' height='100%' src='https://www.youtube.com/embed/fQCHcs1PdvM?rel=0' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
