extends _layout

block content_meta
	- var content_title = 'Райские вазы'
	- var content_description = 'По легенде этот мир находился в устье двух рек. Между берегами, где струились струи и сквозили косые сквозняки, прятался крохотный остров, за россыпью теней перекатывался глиняный камень, догоняя и пряча от солнечного света керамический портал.'

block content_styles
	link(rel='stylesheet', type='text/css', href='css/global.css')
	link(rel='stylesheet', type='text/css', href='css/main.css')

block content_scripts
	script(type='text/javascript', src='js/jquery-3.3.1.min.js')
	script(type='text/javascript', src='js/global.js')
	script(type='text/javascript', src='js/main.js')


block content
	.exhibitions_block
		a.ex_item(href='ex/ex_4.html')
			.ex_image(style='background-image: url(img/ex4/pr.jpg)')
			.ex_title Сон сапожника
			.ex_date 8.09.21 — 12.09.21

		a.ex_item(href='ex/ex_3.html')
			.ex_image(style='background-image: url(img/ex3/pr.jpg)')
			.ex_title Follow the rainbow
			.ex_date 22.12.20 — 15.01.21

		a.ex_item(href='ex/ex_2.html')
			.ex_image(style='background-image: url(img/ex2/pr.jpg)')
			.ex_title Взорванный рай
			.ex_date 16.11.19 — ∞

		a.ex_item(href='ex/ex_1.html')
			.ex_image(style='background-image: url(img/ex1/pr.jpg)')
			.ex_title Тальник x Райские вазы
			.ex_date 26.01 — 27.01.19

		a.ex_item(href='ex/rv.html')
			.ex_image(style='background-image: url(img/rv/pr.jpg)')
			.ex_title Тальник x Райские вазы
			.ex_date (2019)

		span.ex_item